body {
	background: #00aced;
	font-family: Helvetica Neue;
	font-size: 12px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 48px;
	margin-bottom: 10px;
}

button {
	margin: auto;
	display: block;
	font-size: 10px;
}

h2 {
	color: #ccd6dd;
	font-style: italic;
	text-align: center;
	font-size: 10px;
}

a {
	color: blue;
	text-decoration: underline;
}

.usernameInput{
	margin: auto;
	display: block;
	width: 137px;
	border: 1px solid #ccd6dd;	
	margin-top: 15px;
}

.tweetInput{
	margin: auto;
	display: block;	
	width: 135px;
	border: 1px solid #ccd6dd;				
}

.submitButton {
	margin: auto;
	display: block;	
	font-size: 10px;		
}

.tweetStream {
	background: white;
	border: 2px solid #ccd6dd;
	border-radius: 5px;
	margin-left: 300px;
	margin-right: 300px;
}

.tweet {	
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.timeago {
	font-size: 10px;
	font-style: italic;
	color: grey;
}

.tweetStreamCount {
	font-size: 10px;
	font-style: italic;
}

